<div class="span3" id="sidebar">
  <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
      <li id="offer_statistic">
      <a href="/statistics"><i class="icon-chevron-right"></i>报价统计</a>
      </li>
      <li id="offer_new">
      <a href="/offers/new"><i class="icon-chevron-right"></i>报价录入</a>
      </li>
  </ul>
</div>
